<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<%#  Part 1: Start here... %>

<!-- Ratings filter. Adapted from the instructions to fit the erb code.  -->
<%= form_tag movies_path, :method => :get do %>
  <% @all_ratings.each do |label, value| %>
    <%= check_box_tag "ratings[]", label %>
    <%= value %>
    <br />
  <% end %>
  <%= submit_tag 'Refresh', :class => 'btn btn-primary' %>
<% end %>

<br />
<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <% @sorting_hash.each do |label, value| %>
      <th class="<%= @selected_class if @sel_col == value['col_id'] %>">
        <%= link_to label, movies_path(value), :id => value['col_id'] %>
      </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= link_to "More about #{movie.title}", movie_path(movie) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>
